	<ion-view view-title=" sada" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> sada</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-files" class=" page-files">
		<div class="card">
  <div class="item item-text-wrap">
    <p>It's Work<br/>files page</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
