	<ion-view view-title=" Opening hours" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Opening hours</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-opening_hours" class=" page-opening_hours">
		<div class="card">
<div class="item item-text-wrap">
<h3 class="Gou21b" style="-webkit-tap-highlight-color: transparent; margin-bottom: 24px; font-weight: bold; line-height: 1em; color: #202124; font-family: Chivo, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><img src="data/images/icon/logo.png" alt="" width="250" height="250" /><br />Opening Hours</h3>
<div style="-webkit-tap-highlight-color: transparent; color: #202124; font-family: Chivo, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal;">
<table itemprop="openingHours" style="-webkit-tap-highlight-color: transparent;">
<tbody style="-webkit-tap-highlight-color: transparent;">
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Mon:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Tue:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Wed:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Thu:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Fri:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Sat:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">8:00 am &ndash; 5:00 pm</span></td>
</tr>
<tr style="-webkit-tap-highlight-color: transparent;">
<th class="x2TOCf" style="-webkit-tap-highlight-color: transparent; font-weight: 400;">Sun:</th>
<td class="o0m3Qb" style="-webkit-tap-highlight-color: transparent; padding-right: 0.5em; padding-left: 0.5em;"><span class="WF8WNe" style="-webkit-tap-highlight-color: transparent; white-space: nowrap;">Closed</span></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
