	<ion-view view-title="&lt;img src=&quot;data/images/icon/logo.png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img src="data/images/icon/logo.png" class="page-logo" /> ⠀⠀</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class="dashboard page-dashboard">
		<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/content/1.jpg" class="" />
			</ion-slide-page>
		<ion-slide-page>
				<img ng-src="data/images/content/2.jpg" class="" />
			</ion-slide-page>
        		<ion-slide-page>
				<img ng-src="data/images/content/3.jpg" class="" />

  
		</ion-slides>
	</div>
		<div class="dashboard-panel">
 

          <div class="item item-title item-stable"><i class="ion-information-circled">  </i>Information</div> 

			<!-- row -->
			<div class="row">
				<a nav-transition="ios" id="menu-box-dc7571e236d2033b3a526576caca02cf7a57cffc" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/menu_1" >
					<i class="icon ion-information-circled" ></i>
					<p>Company Profile</p>
				</a>
				<a id="menu-box-4e082aa863cd8f4969fe5adce92b2d952e1cacc3" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/testimonials" >
					<i class="icon ion-ios-people" ></i>
					<p>Testimonials</p>
				</a>
              				<a id="menu-box-4e082aa863cd8f4969fe5adce92b2d952e1cacc3" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/opening_hours" >
					<i class="icon ion-ios-clock-outline" ></i>
					<p>Opening Hours</p>
				</a>
			</div>
			<!-- ./row -->
          <div class="item item-title item-stable"><i class="ion-social-youtube"></i>   Media Presentation</div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/images" >
					<i class="icon ion-images" ></i>
					<p>Images</p>
				</a>
              <a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/videos" >
					<i class="icon ion-ios-videocam-outline" ></i>
					<p>Videos</p>
				</a>
<!--              	<a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/files" >
					<i class="icon ion-android-document" ></i>
					<p>Files</p>
				</a><br/>-->

			</div>
			<!-- ./row -->
			<div class="item item-title item-stable"><i class="ion-ios-email-outline"></i>    Contact</div>
			<!-- row -->
			<div class="row">
				<!--<a id="menu-box-1fe55d1a8ba79dc28e552920ffc8d42fe795969d" class="col-33 stable transparent ink" ng-click="openURL('market://details?id=com.imabuilder.abbayosuadesign.gsjatesalonikaapp')" >
					<i class="icon ion-android-playstore" ></i>
					<p>Rate This App</p>
				</a>-->
				<a id="menu-box-b790fad80a9b2886441e765962de0a139a6300b2" class="col-33 stable transparent ink"  ng-click="openURL('mailto:abbasiagian@gmail.com?Subject=Saya%20ingin%20bertanya%20tentang%20aplikasi%20ini')">
					<i class="icon ion-email" ></i>
					<p>Email</p>
				</a>
				<a id="menu-box-c887b9d3b3905e1e3eb236a1e334ca966299726f" class="col-33 stable transparent ink"  ng-click="openURL('https://api.whatsapp.com/send?phone=628117774884&text=halo%20abba,%20saya%20ingin%20mengetahui%20tentang%20aplikasi%20ini&source=&data=')" >
					<i class="icon ion-social-whatsapp-outline" ></i>
					<p>Whatsapp</p>
				</a>
<!--              	<a id="menu-box-c887b9d3b3905e1e3eb236a1e334ca966299726f" class="col-33 stable transparent ink"  ng-href="#/batam_fiber_glass/young_adults" >
					<i class="icon ion-chatbox-working" ></i>
					<p>Live Chat</p>
				</a> -->
			</div>
			<!-- ./row -->
			
		</ion-content>
		<!-- ./content -->
	</ion-view>
