	<ion-view view-title="&lt;img src=&quot;data/images/logo(1).png&quot; class=&quot;page-logo&quot; /&gt; ⠀" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img src="data/images/logo(1).png" class="page-logo" /> ⠀</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-floor_plan" class=" page-floor_plan">
		<img src="data/images/background/PCL-floors-1.png" alt="" height="500" />

<!--//link to page `faqs`-->
<div align="center" class="item">
	<a class="button button-assertive-900" run-open-url href="https://www.lib.utexas.edu/sites/default/files/promo-images/PCL-floors-1.png">Click to Zoom</a>
  <br/><br/>
  	<a class="button button-calm-900" ng-click="openURL('https://www.lib.utexas.edu/sites/default/files/promo-images/PCL-floors-1.png')">Click to Download</a>
</div>
<!--//link to page `faqs`-->

		</ion-content>
		<!-- ./content -->
	</ion-view>
