	<ion-view view-title="&lt;img src=&quot;data/images/icon/logo.png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img src="data/images/icon/logo.png" class="page-logo" /> ⠀⠀</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-menu_1" class="page-menu_1">
		<div class="padding" style="text-align: center;"><span style="color: #202124; font-family: Chivo, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: #f6f6f6;"><img src="data/images/icon/logo.png" alt="Company Logo" width="250" height="250" /><br /><em><span style="font-size: 18pt;"><span style="font-size: 14pt;">Batam Fibre Glass&nbsp;has led the market in Quality &amp; Reliability since 1989. Until now we still serve with a lot of our products &amp; inovation. We also sell the Fibre Glass raw materials like Catalyst, Resin etc</span></span></em></span>
<div><center>
<h3></h3>
</center></div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
