<ion-tabs class="tabs-striped  tabs-icon-top tabs-background-light tabs-color-positive-900" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_dashboard }} menu-dashboard" title="{{ 'Dashboard' | translate }}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" ui-sref="batam_fiber_glass.dashboard" >
		<ion-nav-view animation="none" name="batam_fiber_glass-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_about_us }} menu-about_us" title="{{ 'About Us' | translate }}" icon-off="ion-help-buoy" icon-on="ion-help-buoy" ui-sref="batam_fiber_glass.about_us" >
		<ion-nav-view animation="none" name="batam_fiber_glass-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_profile }} menu-profile" title="{{ 'My Account' | translate }}" icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="batam_fiber_glass.profile" >
		<ion-nav-view animation="none" name="batam_fiber_glass-profile"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="batam_fiber_glass.about_us"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-faqs" title="Faqs"  ui-sref="batam_fiber_glass.faqs"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-faqs"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-files" title="sada"  ui-sref="batam_fiber_glass.files"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-files"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-floor_plan" title="⠀"  ui-sref="batam_fiber_glass.floor_plan"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-floor_plan"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-form_login" title="Login"  ui-sref="batam_fiber_glass.form_login"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-form_login"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-form_user" title="Register"  ui-sref="batam_fiber_glass.form_user"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-form_user"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-images" title="⠀⠀⠀⠀"  ui-sref="batam_fiber_glass.images"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-images"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-language" title="{{ 'Language' | translate }}"  ui-sref="batam_fiber_glass.language"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-language"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_1" title="⠀⠀"  ui-sref="batam_fiber_glass.menu_1"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-menu_1"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_one" title="Menu One"  ui-sref="batam_fiber_glass.menu_one"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_two" title="Menu Two"  ui-sref="batam_fiber_glass.menu_two"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-opening_hours" title="Opening hours"  ui-sref="batam_fiber_glass.opening_hours"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-opening_hours"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-sitestackplan" title="⠀⠀⠀"  ui-sref="batam_fiber_glass.sitestackplan"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-sitestackplan"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="batam_fiber_glass.slide_tab_menu"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-slide_tab_menu"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-sunday_school" title="Sunday School"  ui-sref="batam_fiber_glass.sunday_school"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-sunday_school"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-testimonials" title="Testimonials"  ui-sref="batam_fiber_glass.testimonials"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-testimonials"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-videos" title="Youtube"  ui-sref="batam_fiber_glass.videos"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-videos"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-welcome" title="⠀⠀⠀⠀"  ui-sref="batam_fiber_glass.welcome"  >
		<ion-nav-view animation="none" name="batam_fiber_glass-welcome"></ion-nav-view>
	</ion-tab>
</ion-tabs>
