	<ion-view view-title=" UPDATEAPPS" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> UPDATEAPPS</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-updateapps" class=" page-updateapps">
		<div class="card">
<div class="item item-text-wrap">
 <center><img src="data/images/icon/logo.png" alt="Company Logo" width="150" height="150" /></center>
<p style="text-align: center;">Hai, sepertinya anda menggunakan Versi Lawas dari Aplikasi Kami. Silahkan Klik Tombol dibawah untuk update.<br /><br />Hi! I'm Afraid that you using outdated version of our Apps. Please Consider Updating your apps. Thank You<br /><br /><br /></p>
<center><a class="button positive button-balanced" ng-click="openURL('https://play.google.com/store/apps/details?id=com.imabuilder.abbayosua.batamfiberglass')"> Update Now </a></center>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
