	<ion-view view-title=" Testimonials" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Testimonials</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-testimonials" class="page-iframe page-testimonials">
		<iframe data-tap-disabled="true" class="fullscreen" src="https://www.google.com/search?igu=1&hl=id-ID&gl=id&q=New+Batam+Fiberglass,+Jln.+Imam+Bonjol,+Complex+Bumi+Indah+Blk+V+%2323/24,+Nagoya,+Lubuk+Baja+Kota,+Kec.+Lubuk+Baja,+Kota+Batam,+Kepulauan+Riau+29444&ludocid=1677917696169702171&lsig=AB86z5Xup6DK4vLYFWlxcG16kSpg&ibp=gwp;0,7#fpstate=lurev_0x31d989870dbd9743:0x174929413289731b" width="100%" height="100%" ></iframe>

		</ion-content>
		<!-- ./content -->
	</ion-view>
