	<ion-view view-title="&lt;img src=&quot;data/images/logo(1).png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀⠀" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img src="data/images/logo(1).png" class="page-logo" /> ⠀⠀⠀</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-sitestackplan" class=" page-sitestackplan">
		<center><img src="data/images/background/Village_Stacks_Site_Plan.jpg" alt="" height="200" />
  
  <button class="button button-calm-900" run-app-browser href="https://cdn.vox-cdn.com/thumbor/E9QwXQWibgJF8Kg7dNJed7-PiwU=/0x0:2550x1650/1200x0/filters:focal(0x0:2550x1650):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13722310/Village_Stacks_Site_Plan.jpg">Click here to Zoom</button>
  <br/><br/>
  <button class="button button-assertive-900"  ng-click="openURL('https://cdn.vox-cdn.com/thumbor/E9QwXQWibgJF8Kg7dNJed7-PiwU=/0x0:2550x1650/1200x0/filters:focal(0x0:2550x1650):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13722310/Village_Stacks_Site_Plan.jpg')">Click here to Download</button>
  
</center>
		</ion-content>
		<!-- ./content -->
	</ion-view>
