	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> About Us</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		<div class="text-center"><img class="avatar relative" ng-src="data/images/icon/logo.png" />
<p>Batam Fiber Glass v1.0</p>
</div>
<br />
<div class="list card"><a class="item item-icon-left" ng-click="openURL('tel:+620778452277')"> <i class="icon ion-android-call royal"></i> For Business Cooperation<br />Call Us <strong>(Click Me)</strong></a></div>
<div class="list card"><a class="item item-icon-left" ng-click="openURL('http://wa.me/6282392211307')"> <i class="icon ion-social-whatsapp-outline positive"></i> Or Whatsapp us!<strong>(Click Me)</strong></a></div>
<div style="text-align: center;"><span style="color: #202124; font-family: Chivo, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: #f6f6f6;"><br /></span><span style="color: #202124; font-family: Chivo, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal;"><em><span style="font-size: 18pt;"><span style="font-size: 14pt;">Batam Fibre Glass&nbsp;has led the market in Quality &amp; Reliability since 1989. Until now we still serve with a lot of our products &amp; inovation. We also sell the Fibre Glass raw materials like Catalyst, Resin etc<br /><br /><br /></span></span></em></span></div>
<div style="text-align: center;"><strong><em>&copy; 2019 | Created By: <a ng-click="openURL('https://api.whatsapp.com/send?phone=628117774884&amp;text=Saya%20ingin%20membuat%20aplikasi&amp;source=&amp;data=')">08117774884</a></em></strong><br /><strong>All Rights Reserved</strong></div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
