	<ion-view view-title=" ⠀⠀⠀⠀" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> ⠀⠀⠀⠀</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"  overflow-scroll="true"   id="page-images" class="fullscreen page-images">
		<ion-slide-box show-pager="true" auto-play="true" pager-click="true" >
	<ion-slide style="background: #999 url('data/images/content/7.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/content/8.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/content/9.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
		</div>
	</ion-slide>
</ion-slide-box>

		</ion-content>
		<!-- ./content -->
	</ion-view>
